%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{reset_after_eunit, true}.

{deps, [ {riakc, {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.8+p1"}}}
       , {lager_syslog, {git, "https://github.com/TI-Tokyo/lager_syslog.git", {tag, "3.1.1"}}}
       ]
}.

{cover_enabled, true}.
