%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{reset_after_eunit, true}.

{deps, [ {riakc, {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.8+p1"}}}
       ]
}.

{xref_checks, [no_undefined_function_calls, no_undefined_functions]}.

{cover_enabled, true}.
